<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MercadoLiebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img class="logo" src="/images/logo-mercado-liebre.svg">
        
        <form>
            <input type="text" name="busqueda" placeholder="buscar productos, marcas" align="center"> </input>
            
            <div class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i></div>
        </form>
        <br>
        <p><i class="fa-solid fa-hand-holding-dollar"> &nbsp </i>Comprá en cuotas y sin tarjeta de crédito</p>
<br>
        <nav>
            <ul>
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tiendas">Tiendas Oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="#Cuenta">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="#Ingreso">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
                <li><a href="#Compras">compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
            <br>

            <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>

        </nav>
    </header>
  <img src="/images/img-home-banner.jpg">
    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </article>
            <br>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
            </article>
            <br>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
            </article>
            <br>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>

        <br>

        <h3 class="titulares">Sección de Ofertas</h3>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg">
            <p class="precios">$6.770</p>
            <p class="descuentos">40% off</p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
        </article>
        <br>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
        </article>
        <br>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
        </article>
        <br>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
        </article>
        <br>
        <section>

        </section>
    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card" id="footer-icon"></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <br>
        <section>
            <i class="fa-solid fa-gift" id="footer-icon"></i>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section>
            <i class="fa-solid fa-user-shield" id="footer-icon"></i>
            <p><strong>Seguridad, de principio a fin</strong></p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <br>
        <section>
            <br>
            <p class="legales">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>