* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #eac926;
    margin: 0%;
    width: 100%;
    text-align: center;    
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

footer {
    text-align: center;
}


/* Estilos para elementos del header*/

.logo {
    max-width: 50vw;
}

.fa-solid fa-hand-holding-dollar {
    display: inline;
    font-size: 2px;
    margin: 5px;
    padding: 5px;
}

input {
    margin-left: 3px;
    margin-bottom: 2px;
    padding: 1px;
    display: inline-block;
    font-size: 1em;
    border: solid white 3px;
    background-color: white;
}

.lupa {
    color: #03264C;
    background-color: white;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    border: solid white 2px;
    padding: 1px;
}

.burguer-menu {
    background-color: #1259c3;
    color: white;
    width: 0 auto;
    padding: 6px 8px;
    display: none;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 7px;
    border: solid #1259c3 1px;
    font-weight: bold;
    font-size: 1em;
}

img {
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
    display: block;
    position: relative;
}


/* Estilos para elementos del main*/

p {
    font-size: 12px;
}

section {
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
}

article {
    margin: 10px 5px;
    display: inline-block;
}

.card {
    background-color: white;
    display: inline-block;
    max-width: 290px;
}

.card-body {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    display: inline-block;
}

.titulares {
    font-size: 24px;
}

.fa-truck {
    color: red;
}

.precios {
    font-size: 18px;
}

.descuentos,
.descripciones {
    font-size: 16px;
}


/* Estilos para elementos del footer*/

#footer-icon {
    color: #03264C;
    font-size: 2em;
    margin-bottom: 10px;
}

.legales {
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
}


/* Estilos para diseño adaptativo*/

/* mobile */
@media(max-width: 361px) {
    .navbar {
        display: none;
    }
    .burguer-menu {
        display: inline-block;
    }
    .descripciones {
        display: none;
    }
}

/* tablets y desktops */
@media(min-width: 362px) {
    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}